---
title: אימות חשבון צאצאים של GDPR 8000038
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: d6ea5e9458a2b8ceaab3ac4bd483e1130b9a398a
ms.translationtype: MT
ms.contentlocale: he-IL
ms.lasthandoff: 01/15/2019
ms.locfileid: "28291838"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>תאריך לידה המוצגת בחשבון Microsoft שלך שגויה

Microsoft מקבלת חשבון אבטחה מאוד ברצינות. ייתכן לאחרונה התבקשת לספק הסכמת הורים עבור חשבון Microsoft של ילד. אם אתה זקוק לעזרה מתן הסכמה ההורים או מעדכן את תאריך הלידה על חשבון Microsoft, ראה [אימות גיל הסכמה ההורים](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
למד עוד אודות [הסכמה ההורים וחשבונות צאצא של Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

