---
title: אימות EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: he-IL
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205268"
---
# <a name="edu-verification"></a><span data-ttu-id="c5d78-102">אימות EDU</span><span class="sxs-lookup"><span data-stu-id="c5d78-102">EDU verification</span></span>

<span data-ttu-id="c5d78-103">ברוב המקרים, בקשות לזכאות אקדמית מעובדות בתוך 24-48 שעות.</span><span class="sxs-lookup"><span data-stu-id="c5d78-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="c5d78-104">בקשות מסוימות עשויות לדרוש סקירה יסודית יותר ויכולה להימשך עד 10 ימי עסקים כדי לעבד.</span><span class="sxs-lookup"><span data-stu-id="c5d78-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="c5d78-105">ברגע שיושלם, אנו נשלח דוא ל עם מעמד הזכאות של בית הספר שלך.</span><span class="sxs-lookup"><span data-stu-id="c5d78-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="c5d78-106">**חשוב** אם יצאת מאשף האימות לפני הכניסה לתחום, באפשרותך [לחדש את אשף האימות האקדמי](https://go.microsoft.com/fwlink/p/?linkid=2135255) בכל עת במהלך הניסיון ללא תשלום.</span><span class="sxs-lookup"><span data-stu-id="c5d78-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="c5d78-107">אם ברצונך לבדוק את מצב התחום שלך, עבור אל [מרכז הניהול של Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="c5d78-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="c5d78-108">בדף הבית, גלול למטה וחפש את כרטיס **החיוב** .</span><span class="sxs-lookup"><span data-stu-id="c5d78-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="c5d78-109">כרטיס **החיוב** מציין את המצב של תהליך האימות (מאושר, ממתין, נדחה או מוסיף את התחום שלך).</span><span class="sxs-lookup"><span data-stu-id="c5d78-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="c5d78-110">, אם הבקשה שלך נדחית. תראה [שבית הספר שלי לא זכאי ? מה אני עושה עכשיו](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="c5d78-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>