---
title: אימות EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: he-IL
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814373"
---
# <a name="edu-verification"></a><span data-ttu-id="1c2a2-102">אימות EDU</span><span class="sxs-lookup"><span data-stu-id="1c2a2-102">EDU verification</span></span>

<span data-ttu-id="1c2a2-103">ברוב המקרים, בקשות הזכאות האקדמיות מעובדות תוך 24-48 שעות.</span><span class="sxs-lookup"><span data-stu-id="1c2a2-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="1c2a2-104">בקשות מסוימות עשויות לדרוש סקירה מעמיקה יותר, ותהליך התהליך עשוי לאסוף עד 10 ימי עסקים.</span><span class="sxs-lookup"><span data-stu-id="1c2a2-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="1c2a2-105">לאחר ההשלמה, נשלח הודעת דואר אלקטרוני עם מצב הזכאות של בית הספר שלך.</span><span class="sxs-lookup"><span data-stu-id="1c2a2-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="1c2a2-106">**חשוב** אם אתה יוצא מאשף האימות לפני הזנת תחום, באפשרותך לחדש את אשף האימות [האקדמי](https://go.microsoft.com/fwlink/p/?linkid=2135255) בכל עת במהלך גירסת הניסיון ללא תשלום.</span><span class="sxs-lookup"><span data-stu-id="1c2a2-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="1c2a2-107">אם תרצה לבדוק את מצב התחום שלך, עבור אל מרכז הניהול [של Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="1c2a2-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="1c2a2-108">בדף הבית, גלול אל החלק התחתון ומצא את **כרטיס החיוב.**</span><span class="sxs-lookup"><span data-stu-id="1c2a2-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="1c2a2-109">כרטיס **החיוב** מציין את מצב תהליך האימות (מאושר, ממתין, נדחה או הוסף את התחום שלך).</span><span class="sxs-lookup"><span data-stu-id="1c2a2-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="1c2a2-110">אם הבקשה שלך נדחתה, ראה [בית הספר שלי אינו זכאי. מה אני עושה עכשיו?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="1c2a2-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>