---
title: אימות EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: he-IL
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946730"
---
# <a name="edu-verification"></a>אימות EDU

ברוב המקרים, בקשות הזכאות האקדמיות מעובדות תוך 24-48 שעות. בקשות מסוימות עשויות לדרוש סקירה מעמיקה יותר, ותהליך התהליך עשוי לאסוף עד 10 ימי עסקים. לאחר ההשלמה, נשלח הודעת דואר אלקטרוני עם מצב הזכאות של בית הספר שלך.

**חשוב** אם אתה יוצא מאשף האימות לפני הזנת תחום, באפשרותך לחדש את אשף האימות [האקדמי](https://go.microsoft.com/fwlink/p/?linkid=2135255) בכל עת במהלך גירסת הניסיון ללא תשלום.

אם תרצה לבדוק את מצב התחום שלך, עבור אל [מרכז הניהול של Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). בדף הבית, גלול אל החלק התחתון ומצא את **כרטיס החיוב.** כרטיס **החיוב** מציין את מצב תהליך האימות (מאושר, ממתין, נדחה או הוסף את התחום שלך).

אם הבקשה שלך נדחתה, ראה [בית הספר שלי אינו זכאי. מה אני עושה עכשיו?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)