---
title: אימות EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: he-IL
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205268"
---
# <a name="edu-verification"></a>אימות EDU

ברוב המקרים, בקשות לזכאות אקדמית מעובדות בתוך 24-48 שעות. בקשות מסוימות עשויות לדרוש סקירה יסודית יותר ויכולה להימשך עד 10 ימי עסקים כדי לעבד. ברגע שיושלם, אנו נשלח דוא ל עם מעמד הזכאות של בית הספר שלך.

**חשוב** אם יצאת מאשף האימות לפני הכניסה לתחום, באפשרותך [לחדש את אשף האימות האקדמי](https://go.microsoft.com/fwlink/p/?linkid=2135255) בכל עת במהלך הניסיון ללא תשלום.

אם ברצונך לבדוק את מצב התחום שלך, עבור אל [מרכז הניהול של Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). בדף הבית, גלול למטה וחפש את כרטיס **החיוב** . כרטיס **החיוב** מציין את המצב של תהליך האימות (מאושר, ממתין, נדחה או מוסיף את התחום שלך).

, אם הבקשה שלך נדחית. תראה [שבית הספר שלי לא זכאי ? מה אני עושה עכשיו](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)