---
title: אימות חשבון צאצאים של GDPR 8000038
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 035004602a439335380ec72ea65fd1bd70ebbf0d
ms.sourcegitcommit: 5fb7a4b28859690020efdea630d03e70cc0e6334
ms.translationtype: MT
ms.contentlocale: he-IL
ms.lasthandoff: 06/28/2019
ms.locfileid: "35387058"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="7760b-102">תאריך לידה המוצגת בחשבון Microsoft שלך שגויה</span><span class="sxs-lookup"><span data-stu-id="7760b-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="7760b-103">Microsoft מקבלת חשבון אבטחה מאוד ברצינות.</span><span class="sxs-lookup"><span data-stu-id="7760b-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="7760b-104">ייתכן לאחרונה התבקשת לספק הסכמת הורים עבור חשבון Microsoft של ילד.</span><span class="sxs-lookup"><span data-stu-id="7760b-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="7760b-105">אם אתה זקוק לעזרה מתן הסכמה ההורים או מעדכן את תאריך הלידה על חשבון Microsoft, ראה [אימות גיל הסכמה ההורים](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="7760b-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="7760b-106">למד עוד אודות [הסכמה ההורים וחשבונות צאצא של Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="7760b-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  