---
title: 8000038 בדיקת חשבון הילד של GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: he-IL
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764981"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>תאריך הלידה שמוצג בחשבון Microsoft שלך שגוי

מיקרוסופט לוקחת את האבטחה ברצינות רבה. ייתכן שתתבקש לאחרונה לספק הסכמת הורים לחשבון Microsoft של הילד. אם אתה זקוק לעזרה במתן הסכמה הורית או עדכון תאריך הלידה בחשבון של Microsoft, ראה [אימות גיל עבור הסכמת ההורים](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
למד עוד אודות [הסכמת הורים וחשבונות צאצא של Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  