---
title: 8000038 אימות חשבון הילד GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: he-IL
ms.lasthandoff: 08/05/2021
ms.locfileid: "54056995"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>תאריך הלידה המוצג בחשבון Microsoft שלך שגוי

Microsoft לוקחת את אבטחת החשבון ברצינות רבה. ייתכן שהתבקשת לאחרונה לספק הסכמת הורים עבור חשבון Microsoft של ילד. אם אתה זקוק לעזרה במתן הסכמת הורים או עדכון תאריך הלידה בחשבון Microsoft, ראה [אימות גיל עבור הסכמת הורים](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
קבל מידע נוסף על [הסכמה הורית וחשבונות צאצא של Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  