---
title: אימות חשבון צאצאים של GDPR 8000038
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: he-IL
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524412"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>תאריך לידה המוצגת בחשבון Microsoft שלך שגויה

Microsoft מקבלת חשבון אבטחה מאוד ברצינות. ייתכן לאחרונה התבקשת לספק הסכמת הורים עבור חשבון Microsoft של ילד. אם אתה זקוק לעזרה מתן הסכמה ההורים או מעדכן את תאריך הלידה על חשבון Microsoft, ראה [אימות גיל הסכמה ההורים](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
למד עוד אודות [הסכמה ההורים וחשבונות צאצא של Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  