---
title: אימות חשבון הצאצא של 8000038 GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: he-IL
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707964"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>תאריך הלידה המוצג בחשבון Microsoft שגוי

Microsoft מעבירה ברצינות רבה את האבטחה של החשבון. ייתכן שכבר התבקשת לספק את הסכמת ההורים עבור חשבון Microsoft של הילד. אם אתה זקוק לעזרה בהענקת הסכמה להורים או עדכון תאריך הלידה בחשבון Microsoft, ראה [אימות גיל עבור הסכמת הורים](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
קבל [מידע נוסף על הסכמה להורים וחשבונות של Microsoft צ'יילד](https://go.microsoft.com/fwlink/p/?linkid=874365).
  