---
title: פתרון בעיות באימות publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: he-IL
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885055"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>בעיות הקשורות לאימות של Publisher עבור מפתחים

**שלבים מומלצים** 

כדי לפתור בעיות הקשורות לאימות של publisher, בצע את השלבים הבאים:

1. סקור את הדרישות המוקדמות ודרישות אחרות כדי להבטיח שכולם ימולאו.
2. סקור את ההוראות כדי [לסמן יישום כאשר publisher אומת](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) וודא שכל השלבים התבצעו בהצלחה.
3. סקור את רשימת [הבעיות הנפוצות](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) ובצע את השלבים המומלצים אם יש לך בעיה מרשימה כזו.
4. לשחזר את הבקשה באמצעות [סייר התרשימים](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) כדי לאסוף מידע נוסף ולשלול בעיות בממשק המשתמש.

**מסמכים מומלצים**

- [אימות Publisher-מבט כולל](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [סימון היישום שלך כאשר publisher אומת](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [פתרון בעיות באימות publisher](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

