---
title: פתרון בעיות באימות publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: he-IL
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885055"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="619bb-102">בעיות הקשורות לאימות של Publisher עבור מפתחים</span><span class="sxs-lookup"><span data-stu-id="619bb-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="619bb-103">**שלבים מומלצים**</span><span class="sxs-lookup"><span data-stu-id="619bb-103">**Recommended steps**</span></span> 

<span data-ttu-id="619bb-104">כדי לפתור בעיות הקשורות לאימות של publisher, בצע את השלבים הבאים:</span><span class="sxs-lookup"><span data-stu-id="619bb-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="619bb-105">סקור את הדרישות המוקדמות ודרישות אחרות כדי להבטיח שכולם ימולאו.</span><span class="sxs-lookup"><span data-stu-id="619bb-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="619bb-106">סקור את ההוראות כדי [לסמן יישום כאשר publisher אומת](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) וודא שכל השלבים התבצעו בהצלחה.</span><span class="sxs-lookup"><span data-stu-id="619bb-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="619bb-107">סקור את רשימת [הבעיות הנפוצות](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) ובצע את השלבים המומלצים אם יש לך בעיה מרשימה כזו.</span><span class="sxs-lookup"><span data-stu-id="619bb-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="619bb-108">לשחזר את הבקשה באמצעות [סייר התרשימים](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) כדי לאסוף מידע נוסף ולשלול בעיות בממשק המשתמש.</span><span class="sxs-lookup"><span data-stu-id="619bb-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="619bb-109">**מסמכים מומלצים**</span><span class="sxs-lookup"><span data-stu-id="619bb-109">**Recommended documents**</span></span>

- [<span data-ttu-id="619bb-110">אימות Publisher-מבט כולל</span><span class="sxs-lookup"><span data-stu-id="619bb-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="619bb-111">סימון היישום שלך כאשר publisher אומת</span><span class="sxs-lookup"><span data-stu-id="619bb-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="619bb-112">פתרון בעיות באימות publisher</span><span class="sxs-lookup"><span data-stu-id="619bb-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

